<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/dishdetail', prev]">
                <span class="fa fa-chevron-left fa-lg"></span>
              </button>
              
              <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail', next]">
                  <span class="fa fa-chevron-right fa-lg"></span>
                </button>
            </mat-card-actions>
        </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
   <mat-list>
    <h2>Comments</h2>
      <mat-list-item *ngFor="let dishC of dish.comments">
        <p matLine>{{dishC.comment}}</p>
        <p matLine>{{dishC.rating}} Starts</p>
        <p matLine><span>-- {{dishC.author}}, </span>{{dishC.date | date:'MMM d, y'}}</p>
      </mat-list-item> 
   </mat-list>
   <br>
   <div>
     <p>
       <mat-list>
       <mat-list-item *ngIf="comment && feedbackForm.valid" [hidden]="comment">
         <p matLine>{{comment.rating}} Starts</p>
         <p matLine>{{comment.author}}<span>-- {{comment.comment}}, </span> </p>
       </mat-list-item>
       </mat-list>
     </p>
    <p>{{ feedbackForm.value | json}} {{feedbackForm.status | json}}</p>

  <form novalidate [formGroup]="feedbackForm"  #fform="ngForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field class="half-width">
        <input matInput formControlName="author" placeholder="Name" type="text" required>
        <mat-error *ngIf="formErrors.author">
          {{formErrors.author}}
        </mat-error>
      </mat-form-field>
    </p>
    <p>
        <mat-slider 
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="3"
        min="1"
        max="5"
        formControlName="rating"
        >
        </mat-slider>
    </p>
    <p>
      <mat-form-field class="full-width">
        <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12 required>
        </textarea>
        <mat-error *ngIf="formErrors.comment">
          {{formErrors.comment}}
        </mat-error>
      </mat-form-field>
    </p>
    <button type="submit" mat-button class="background-primary text-floral-white"
    [disabled]="feedbackForm.invalid"
    >Submit</button>
  </form>
</div>
  </div>

  <div fxFlex [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
</div>

</div>
